<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<div class="container-fluid">

    <div th:if="${param.exito}" class="alert alert-success text-center">
        ¡Asistencia registrada con éxito!
    </div>
    <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}"></div>

    <main class="container text-center col-md-8 p-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="card-header"><strong>Pase de Lista</strong></h1>
        <div class="card-body">

            <form th:action="@{/profesores/registrar-asistencia}" th:object="${asistenciaDTO}" method="post">
                <div class="row justify-content-center">

                    <div class="col-md-5 mb-3">
                        <div class="form-group text-start">
                            <label for="fecha" class="form-label fw-bold">Fecha:</label>
                            <input type="date" class="form-control" th:classappend="${#fields.hasErrors('fecha')} ? 'is-invalid' : ''" id="fecha" name="fecha" th:field="*{fecha}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
                        </div>
                    </div>

                    <div class="col-md-7 mb-3">
                        <div class="form-group text-start">
                            <label for="idInscripcion" class="form-label fw-bold">Seleccionar Alumno y Materia:</label>
                            <select class="form-select" th:classappend="${#fields.hasErrors('idInscripcion')} ? 'is-invalid' : ''" id="idInscripcion" name="idInscripcion" th:field="*{idInscripcion}">
                                <option value="" selected>Elige a un alumno...</option>
                                <option th:each="inscripcion : ${misAlumnos}"
                                        th:value="${inscripcion.id}"
                                        th:text="${inscripcion.alumno.usuario.nombre} + ' ' + ${inscripcion.alumno.usuario.apellido} + ' - ' + ${inscripcion.grupo.asignatura.nombre} + ' (' + ${inscripcion.grupo.nombre} + ')'"></option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('idInscripcion')}" th:errors="*{idInscripcion}"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar Asistencia</button>
                </div>
            </form>

        </div>
    </main>
</div>
<footer th:replace="~{plantillas/plantilla::footer}"></footer>
<script th:replace="~{plantillas/plantilla::paginaScripts}"></script>
</body>
</html>